<a href="https://colab.research.google.com/github/sapience2357/lectures/blob/main/python/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 타입 캐스팅과 문자열 포맷팅

In [ ]:
var = 2
print( type(var) )
var = str(var)
print( type(var) )
print(var)

print( 'hello' + var)

<class 'int'>
<class 'str'>
2
hello2

In [ ]:
var = '2'
print(type(var))
print(type( int(var) ))
print( 1 + int(var) )

<class 'str'>
<class 'int'>
3

In [ ]:
var = 'hello'
int(var)

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
"The sum of 1 + 2 is {0}".format(1+2)

'The sum of 1 + 2 is 3'

In [ ]:
"2 x {} = {}".format( 1, 2)

'2 x 1 = 2'

# x 보다 작은 수 모두 출력하기

주어진 리스트에서 x보다 작은 수를 모두 출력하시면 됩니다. 
```
    x = 5
    [ 1, 10, 4, 9, 2, 3, 8, 5, 7, 6 ]
```

In [ ]:
lists = [1, 10, 4, 9, 2, 3, 8, 5, 7, 6]
x = 5

for i in lists:
    if i < x:
        print(i)

1
4
2
3

# 주어진 리스트의 점수를 새로 계산하는 프로그램을 작성

```
    [10, 20, 30]
    M = 30
    
    ex). 첫번째 원소: 10
    => 10/M * 100 => 10/30 * 100 = 33.33333333
```

In [ ]:
lists = [40, 80, 60]
# M = max(lists) !!! 추천

M = 0
# 1). M < 40: M = 40
# 2). M < 80: M = 80
# 3). M < 60: skip

for element in lists:
    if M < element:
        M = element
# print(M) = 80

print(lists)
print( list(range(3)))
for i in range( 3 ):
    # print(i)
    # print( lists[i] )
    lists[i] = lists[i] / M * 100
print(lists)

[40, 80, 60]
[0, 1, 2]
[50.0, 100.0, 75.0]

# 주어진 문자열의 총합을 구해봅시다.

```
    '29384752834'
```

In [ ]:
string = '29384752834'

total = 0
for ch in string:
    #print(ch)
    total += int(ch)
print(total)

total = 0
for i in range( len(string) ):
    #print(string[i])
    total += int(string[i])
print(total)

55
55

# 단어의 갯수를 세어봅시다. 

```
'The Curious Case of Benjamin Button'
```

In [ ]:
string = 'The Curious Case of Benjamin Button'
cnt = 0

# 단어의 갯수 == 화이트 스페이스의 갯수

for ch in string:
    if ch == ' ':
        cnt += 1

print(cnt)

5

# 갯수 세어보기 두 번째

```
    '1098237489215923874'
```

주어진 문자열에서 0 에서 9까지 각 숫자가 몇번 나왔는지 구해봅시다.

In [ ]:
string = '1098237489215923874'
cnt = [0,0,0,0,0,0,0,0,0,0]

for ch in string:
    cnt[int(ch)] += 1
print(cnt)

[1, 2, 3, 2, 2, 1, 0, 2, 3, 3]

# 충첩 루프(루프의 루프)

```
    단 = [ 2, 3, 4, 5, 6, 7, 8, 9 ]
    리스트 = [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
```

In [ ]:
n = [2,3,4,5,6,7,8,9]
m = [1,2,3,4,5,6,7,8,9]

for 단 in n:
    # print('단: ' + str(단))
    for i in m:
        # print('숫자: ' + str(i))
        print('{} x {} = {}'.format(단, i, 단*i) )

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# 함수(function)

- 수학적인 함수와는 다릅니다. 

```
def 함수명(arguments, ... ):
    pass
```

In [ ]:
def func(lists=[]):
    M = 0
    for element in lists:
        if M < element:
            M = element
    return M
            
n = func([1,2,3,4,5,6])

In [ ]:
n

6

In [ ]:
string = 'The Curious Case of Benjamin Button'

number_of_count = string.split(sep=' ')
len(word_count)

6

# 입/출력

## 1. 표준 입출력
## 2. 파일 읽기/쓰기
## 3. 네트워크 통신

# 표준 입/출력

- 표준 입력 장치로부터 받은 입력을
  표준 출력 장치로 출력

In [ ]:
n = input()

1234

In [ ]:
n

'1234'

In [ ]:
n = input()
n = int(n)

for i in range(1, 10):
    print('{} x {} = {}'.format(n, i, n*i) )

h

ValueError: invalid literal for int() with base 10: 'h'